* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(204, 226, 194, 1);
}
.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.home-container img {
  margin-top: 100px;
  width: 700px;
  height: 385px;
}
.home-container button {
  width: 260px;
  height: 70px;
  border: none;
  border-radius: 9px;
  background-color: rgba(53, 189, 57, 0.837);
  box-shadow: rgba(1, 171, 7, 0.908) 5.95px 5.95px 1.6px;
}
.home-container button a {
  text-decoration-line: none;
  color: white;
  font-size: 24px;
  font-weight: bolder;
}

/* Page 1 */

.page-1 {
  width: 100%;
  height: auto;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.question-count {
  display: flex;
  justify-content: end;
  width: 60%;
  margin: 0 auto;
}
.total-count-attempt {
  color: blue;
  border-radius: 10px 0 0 10px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(254, 195, 61, 1);
}
.total-count {
  border-radius: 0 10px 10px 0;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(254, 195, 61, 1);
}

.content {
  width: 100%;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
}
.question {
  width: 60%;
  height: 80px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.question p + li {
  font-size: 20px;
  font-weight: 600;
  padding: 0 10px;
}
.time {
  width: 60%;
  /* border: 1px solid; */
  margin: 0 auto;
  margin-top: 8px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5px;
}
.timer {
  width: 70px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600px;
  background-color: rgba(2, 164, 9, 0.43);
  color: white;
  text-align: center;
}

.question-options {
  width: 100%;
  height: auto;
  margin-top: 8px;
  display: flex;
  justify-content: center;
}
.bg-div {
  background-color: #fff;
  width: 60%;
  height: min-content;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 20px;
  margin-top: 5px;
  border-radius: 10px;
}

.ans-options {
  margin-top: 20px;
  margin-bottom: 40px;
  width: 100%;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.147);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.check-box {
  margin: 0 20px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.332);
}
.ans-options p {
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
}
.btn {
  width: 60%;
  /* border: 1px solid; */
  margin: 0 auto;
  display: flex;
  justify-content: end;
  margin-top: 8px;
  margin-bottom: 10px;
}
.next-btn {
  float: right;
  font-size: 20px;
  padding: 10px;
  text-decoration-line: none;
  color: green;
  border: 1px solid rgba(19, 19, 19, 0.377);
  border-radius: 8px;
}
.next-btn:hover {
  color: #222121a6;
  transition: all 0.2s ease-in;
}

/* Result Page */
.result-container {
  width: 100%;
  height: 100vh;
}

.result-container .result-img {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.result-img img {
  margin-top: 20px;
  width: auto;
  height: auto;
}

.result-img h3 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 700;
}

/* Chart */

.chart-container {
  margin-top: 50px;
  position: relative;
  width: 400px;
}

.bar-background {
  width: 100%;
  height: 50px;
  background-color: #ff8080;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.bar-fill {
  height: 100%;
  width: 70%; /* Change this value for progress */
  background-color: #2ecc40;
  border-radius: 8px 0 0 8px;
}

.center-label {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.left-indicator,
.right-indicator {
  position: absolute;
  font-weight: bold;
}

.left-indicator {
  top: 50px;
  left: -50px;
  /* color:rgba(53, 189, 58, 1); */
}

.right-indicator {
  top: 50px;
  right: -50px;
  /* color:rgba(255, 122, 122, 1); */
}

.result-table {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.51);
  width: 300px;
  height: 150px;
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.bottom-lable {
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.retry-btn {
  width: 150px;
  height: 50px;
  border: none;

  border-radius: 9px;
  background-color: rgba(53, 189, 57, 0.837);
  box-shadow: rgba(1, 171, 7, 0.908) 5.95px 5.95px 1.6px;
  cursor: pointer;
}

.retry-btn a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.social-icons {
  width: 400px;
  text-align: center;
  margin-top: 50px;
}
.social-icons p {
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.726);
}

.social-icons a {
  text-decoration: none;
  margin: 10px;
}

/* Media quire */

@media (max-width: 678px) {
  .header > img:nth-child(1) {
    height: 60px;
  }
  .header > img:nth-child(2) {
    height: 30px;
  }
  .total-count-attempt,
  .total-count {
    padding: 5px 10px;
    font-size: 16px;
  }

  .question-count {
    float: inline-end;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .content {
    padding: 0 10px;
  }
  .question {
    width: 100%;
    height: 50px;
  }
  .time {
    width: 100%;
  }
  .timer {
    margin-right: 10px;
    font-size: 16px;
    padding: 5px 10px;
  }
  .question-options {
    margin-top: 10px;
  }
  .bg-div {
    width: 100%;
    margin: 5px 10px;
  }
  .ans-options {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 40px;
  }
  .btn{
    width: 100%;
  }
  .next-btn {
    margin-right: 10px;
    padding: 8px;
    font-size: 16px;
  }
}

